.homeDivision {
    text-align: center;
    margin: auto;
    margin-bottom: 3rem;
}

nav{
    padding:2rem;
}
nav h1{
    float:left;
    margin:0px 3rem;
    color: #fff;
}

nav a{
    text-decoration: none;
    color: #fff;
    text-align: center;
    padding-right: 10%;
    float:right;
}

nav a:hover{
    text-decoration: underline;
}