.myCard {
    margin: auto;
    text-align: center;
    width: 40%;
    margin-bottom: 3rem;
    background-color: rgb(214, 225, 233);
}

.formField {
    width: 80%;
}

table {
    margin: auto;
    width: 80%;
    background-color: rgb(214, 225, 233);
}

th{
    background-color: #e4e4e4;
}